<body>
  <a href="/">Principal</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>

  <h1>Sobre mi</h1>
  <h2>... y este nuevo blog de imperium maledictum!</h2>
  <p>
    Este blog va a servir para plasmar información basica del Segmentum
    Pacificus, siendo creado siguiendo el tutorial de Astro.
  </p>
  <p>
    El sitio se ira actualizando conforme avance en el tutorial y se me ocurran
    ideas para añadir.
  </p>
</body>
