<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sobre mi">
    <meta name="keywords" content="sobre mi, informacion, acerca de mi">
    <meta name="author" content="Seloniop">
    <link rel="icon" href="/favicon.svg">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <title>Sobre mi</title>
</head>
<body>
    <a href="/">Principal</a>
    <a href="/about/">Sobre mi</a>

    <h1>Sobre mi</h1>
    <h2>... y este nuevo blog de imperoum maledictum!</h2>
    <p>Este blog va a servir para plasmar información basica del Segmentum Pacificus, siendo creado siguiendo el tutorial de Astro.</p>
    <p>El sitio se ira actualizando conforme avance en el tutorial y se me ocurran ideas para añadir.</p>

</body>
</html>