<body>
  <a href="/">Principal</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>

  <h1>Mi blog sobre Imperium Maledictum</h1>
  <p>Aqui ire poniendo articulos sobre Imperium Maledictum</p>
</body>
